CODEPRISM_DATA_DIR=./data
CODEPRISM_DATABASE_URL=./data/codeprism.sqlite
CODEPRISM_HTTP_PORT=5182
CODEPRISM_WEB_PORT=5181
CODEPRISM_SSH_HOST=0.0.0.0
CODEPRISM_SSH_PORT=2222
CODEPRISM_RUNNER_ENABLED=true
